# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# PyCharm
.idea/

# Environment variables / secrets
.env
*.env

# Database
*.db
*.sqlite3

# Distribution
dist/
build/
*.egg-info/